* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.bmp binary
*.ico binary
*.icns binary
*.mp4 binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.traineddata binary
